

.footer {
  background-color: #242f41;
  color: white;
  padding: 40px 20px;
  text-align: center;
  position: relative; /* Ensure it stays at the bottom */
  width: 100%;
  bottom: 0;
  margin-top: 20px; /* Give space between content and footer */
}

  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .footer-column ul li:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 30px;
    text-align: center;
  }
  
  .footer-logo {
    font-size: 40px;
    color: orange;
    font-weight: bold;
  }
  
  .social-icons {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .social-icons i {
    margin: 0 10px;
    cursor: pointer;
  }
  
